# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# unit tests
.pytest_cache

# scripts
scripts/
outputs/
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*$py.class


docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/